    <form [formGroup]="form">
    <div>
      <label for="login">Логин:</label>
      <input type="text" id="login" formControlName="login" required>
    </div>
    <div>
      <label for="email">E-mail:</label>
      <input type="email" id="email" formControlName="email"  required>
    </div>
    <div>
      <label for="name">Ваше имя:</label>
      <input type="text" id="name" formControlName="name"  required>
    </div>
    <div>
      <label for="phone">Номер телефона:</label>
      <input type="text" id="phone" formControlName="phone" required>
    </div>
    <div>
      <label for="password">Пароль:</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <div>
      <label for="confirmPassword">Подтверждение пароля:</label>
      <input  type="password" id="confirmPassword" formControlName="confirmPassword" required>
    </div>
    </form>

    <div class="submitform">
    <div>
      <label for="password" class="form-label">Капча:</label>
      <app-dnt-captcha [captchaForm]="captchaForm" />
    </div>
    <button type="submit" (click)="onSubmit()">Зарегистрироваться</button>
    </div>

  <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center">
    <div *ngIf="responseMessage" style="text-align: center">{{ responseMessage }}</div>
    <div *ngIf="nextButtonShown"><button (click)="continueAuthorization()" type="submit">Продолжить авторизацию как {{registeredUserLogin}}</button></div>
  </div>
  
