<div class="container">

  <div style="text-align: center; font-size: 3em" *ngIf="items.length < 1">Объявлений нет</div>
  <div style="text-align: center; font-size: 2em" *ngIf="items.length >= 1">Объявления автора</div>

  <div class="items-grid">
    <div class="item" *ngFor="let item of items">
      
    <a [routerLink]="['/detail-page']" [queryParams]="{id: item.id}">
      <img src="{{apiUrl}}/StorageFile/{{item.mainImageId}}" width="300" height="300" alt="Item 1">
      
      <h2>{{item.name}}</h2>
      <p class="price">{{item.price}}.00₽</p>
      <p><b>{{category[item.subCategoryId].categoryName}}</b><br />
        {{item.location}}</p>
      <i>{{item.createdAt.substring(0,16)}}</i>
        
    </a>
    </div>
  </div>

<footer>
  <p>&copy; 04-2024 <a href="https://github.com/ritsudo">Victor</a></p>
</footer>